<div class="container">
  
  <%= render 'shared/page_title', title: "All Recipes" %>
  
  <%= render 'recipes' %>
  
  <%= will_paginate(@recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  
</div>
