.center {
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover {
  color: #30a14a;
}

.jumbotron h1, h2 {
  margin-bottom: 30px;
  color: #343a40;
}

.jumbotron p {
  margin: 30px;
}

.footer {
  padding-top: 20px;
  background-color: black;
  color: white;
  height: 80px;
  text-align: center;
  margin-top: 50px;
}

.footer span.text_muted {
  color: #fff;
}

.page_title {
  margin-top: 30px;
}