.center {
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover {
  color: #30a14a;
}

.jumbotron h1, h2 {
  margin-bottom: 30px;
  color: #343a40;
}

.jumbotron p {
  margin: 30px;
}

.footer {
  padding-top: 20px;
  background-color: black;
  color: white;
  height: 80px;
  text-align: center;
  margin-top: 50px;
}

.footer span.text_muted {
  color: #fff;
}

.page_title {
  margin-top: 30px;
}

.created-by-card {
  color: white;
}

.created-by-card > span {
  padding-left: 20px;
}

.card-error {
  margin-bottom: 20px;
}

.card-error-text {
  background-color: #efdbe1;
}

.profile-picture {
  margin-bottom: 40px;
}

#chef-listing {
  margin-top: 50px;
}

#chef-listing-name {
  margin-top: 25px;
}